joblib==1.2.0
pandas==1.5.3
spacy==3.7.4
blis==0.7.9
seaborn==0.13.2
nlpaug==1.1.10
nltk==3.8.1
numpy==1.25.2
scikit-learn==1.2.2
imbalanced-learn==0.10.1
sentence-transformers==4.0.1
transformers==4.49.0
huggingface-hub==0.28.1
google-cloud-vision==3.4.1
google-cloud-storage==2.9.0
scispacy==0.5.4
xgboost==1.7.5
scikit-optimize==0.9.0
PyPDF2==3.0.1
vaderSentiment==3.3.2
accelerate==0.26.0
nmslib==2.1.1
uvicorn==0.29.0
fastapi==0.110.1
python-multipart
pymupdf==1.23.7
datasets>=2.18.0
evaluate==0.4.1
lime
safetensors
python-dotenv
shortuuid